bucket         = "replace-with-terraform-state-bucket"
key            = "human-proxy/staging/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "replace-with-terraform-lock-table"
encrypt        = true
